body {
	background: url('curtain.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
}

a {
	font-size: 18px;
}

a:link {
	text-decoration: none;
	color: #f0f2e6;
}

a:hover {
	color: #e5f97c;
} 

a:active {
    color: blue;
}

a:visted {
	color: #f0f2e6;
}

h3 {
	color: #e5f97c;
}

input[type=text] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 35px;
    width: 91%;
    margin-right: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.description {
	
}

.item {
	max-width: 50%;
}

.jumbotron {
	text-align: center;
	background-color: rgba(42,124,217,0.8);
	color: #e5f97c;
	text-shadow: black 15px 15px 15px;	/*Allow title to pop a little*/
}

.favMovie, .sugMovie {
	margin: 5px;
}

.clearDiv{
	display: inline-block;
}

.search-bar {
	color:black;
}

.poster{
	/*float: left;*/
}

#error {
	display: none;
	background-color: red;
	color: #e5f97c;
	text-align: center;
	align-content: center;
	width: 100%;
}

/*Space trailers down from buttons, attempt to center from movie poster*/
#playDiv {
	margin-top: 55px;
}

#plotFormatting {
	margin-top: 10px;
	text-align: center;
	border-color: blue;
	border-radius: 10px;
	background-color: rgba(42,124,217,0.8);
}

#suggestionsForm {
	display: none;
}

#actorDiv {
	display: inline-block;
	width: 100%;
}

#wrapper {
	/*float:right;*/
	/*display: inline-block;*/
	background-color: rgba(0,0,0,0.6);	/*Give wrapper seperate background color to differ from image*/
	border-radius: 10px;  /*Round edges of background */
}