body {
	background: url('curtain.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
}

h3 {
	color: white;
}

input[type=text] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 35px;
    width: 91%;
    margin-right: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.item{
	width: 30%;
	margin: 15px;
}

.jumbotron {
	text-align: center;
	background-color: #74beda;
	color: #e5f97c;
	text-shadow: black 15px 15px 15px;
}

.favMovie, .sugMovie{
	margin: 5px;
}

.clearDiv{
	display: inline-block;
}
.search-bar{
	color:black;
}
.poster{
	/*float: left;*/
}

#playDiv {
	margin-top: 8%;
}

#suggestionsForm{
	display: none;
}

#actorDiv{
	display: inline-block;
	width: 100%;
}
#wrapper{
	/*float:right;*/
	/*display: inline-block;*/
	background-color: rgba(0,0,0,0.6);
	border-radius: 10px;
}