body {
	background: url('curtain.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
}

h3 {
	color: white;
}

input[type=text] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 35px;
    width: 45%;
    margin-right: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.item {
	margin: 5px;
}

/*sorry but this line annoyed the piss out of me becuase i have to click button twice*/
/*input[type=text]:focus {
    width: 85%;
}*/

.jumbotron {
	text-align: center;
	background-color: #74beda;
	color: #e5f97c;
	text-shadow: black 15px 15px 15px;
}
.favMovie{
	margin: 5px;
}
#actorDiv{
	display: inline-block;
	width: 100%;
}
.search-bar{
	color:black;
}

#suggestionsForm{
	display: none;
}