/*Background and font selection*/
body {
	background: url('../images/curtain.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

a {
	font-size: 18px;
}

a:link {
	text-decoration: none;
	color: #f0f2e6;
}

a:hover {
	color: #e5f97c;
} 

a:active {
    color: blue;
}

a:visted {
	color: #f0f2e6;
}

/*Stylize fotter bar*/
footer {
	margin-top: 25px;
	padding-bottom: 15px;
	border-radius: 10px;
	background: rgba(42,124,217,0.3);
}

h3 {
	color: #e5f97c;
}

/*Stylize input forms*/
input[type=text] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 35px;
    width: 91%;
    margin-right: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

select {
	color:black;
}

/*Customize buttons to page styling*/
.btn-info {
	background-color: rgba(42,124,217,1);
	border-color: rgba(42,124,217,0.8);
}

.clearDiv{
	display: inline-block;
}

/*Format input validation prompt*/
#error {
	margin-top: 10px;
	display: none;
	background-color: red;
	color: #e5f97c;
	text-align: center;
	align-content: center;
	border-radius: 10px;
}

/*Keep the GIPHYs size from getting out of hand*/
.item img {
	max-width: 100%;
	margin-bottom: 10px;
}
.clearDiv{
	color: white;
}

.jumbotron {
	text-align: center;
	background-color: rgba(42,124,217,0.4);
	color: #e5f97c;
	text-shadow: black 15px 15px 15px;
}

.favMovie, .sugMovie {
	margin: 5px;
}

.search-bar {
	color:black;
}

#userSelection {
	padding: 5px;
	align-content: center;
	text-align: center;
	background-color: grey;
	border-radius: 10px;
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 10px;
}

#playDiv {
	margin-top: 55px;
}

#plotFormatting {
	margin-top: 10px;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(42,124,217,0.8);
}

#actorDiv {
	display: inline-block;
	width: 100%;
}

#wrapper {
	background-color: rgba(0,0,0,0.7);	/*Give wrapper seperate background color to differ from image*/
	border-radius: 10px;  /*Round edges of background */
}

.clearDiv:hover .clear{
	margin-left: 8px;
	padding: 1px;
	display: block;
	background-color: red;
	border-radius: 6px;
}
.clearDiv:hover .sugclear{
	margin-left: 8px;
	padding: 1px;
	display: block;
	background-color: red;
	border-radius: 6px;
}

.clear, .sugclear{
	margin-left: 8px;
	padding: 1px;	
	display: none;
	position: absolute;
	background-color: red;
	border-radius: 6px;
}